body {
  background-color: #777;
}
.wrapper {
  text-align: center;
  padding: 20px;
}
.connect,
.fund {
  background-color: #33e431;
  color: #333;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 20px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.amount {
  font-weight: 600;
  font-size: 30px;
  padding-top: 40px;
}
.accountField {
  width: 500px;
  padding: 10px;
  border-radius: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
